<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruijing.registry.admin.data.mapper.MessageQueueMapper">

    <resultMap id="BaseMap" type="com.ruijing.registry.admin.data.model.MessageQueueDO">
        <result column="id" property="id"/>
        <result column="appkey" property="appkey"/>
        <result column="env" property="env"/>
        <result column="service_name" property="serviceName"/>
        <result column="sequence_id" property="sequenceId"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `appkey`,
        `env`,
        `service_name`,
        `sequence_id`,
        `update_time`
    </sql>

    <select id="queryForList" parameterType="java.util.HashMap" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM message_queue
        <trim prefix="where" prefixOverrides="AND | OR">
            <if test="appkey != null and biz != ''">
                AND appkey = #{appkey}
            </if>
            <if test="env != null and env != ''">
                AND env = #{env}
            </if>
            <if test="serviceName != null and key != ''">
                AND `service_name` = #{serviceName}
            </if>
        </trim>
    </select>

    <select id="getLastNewList" parameterType="long" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM message_queue
        WHERE sequence_id >= #{sequenceId,jdbcType=BIGINT}
     </select>

    <select id="selectByPrimaryKey" parameterType="java.util.HashMap" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM message_queue
        WHERE id = #{id}
    </select>

    <select id="listAll" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM message_queue
    </select>

    <insert id="insertSelective" parameterType="com.ruijing.registry.admin.data.model.MessageQueueDO" keyProperty="id"
            useGeneratedKeys="true">
        insert into message_queue
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="appkey != null">
                appkey,
            </if>
            <if test="env != null">
                env,
            </if>
            <if test="serviceName != null">
                `service_name`,
            </if>
            <if test="sequenceId != null">
                sequence_id,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="appkey != null">
                #{appkey,jdbcType=BIGINT},
            </if>
            <if test="env != null">
                #{env,jdbcType=VARCHAR},
            </if>
            <if test="serviceName != null">
                #{serviceName,jdbcType=VARCHAR},
            </if>
            <if test="sequenceId != null">
                #{sequenceId,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.ruijing.registry.admin.data.model.MessageQueueDO">
        update message_queue
        <set>
            <if test="appkey != null">
                appkey = #{appkey,jdbcType=VARCHAR},
            </if>
            <if test="env != null">
                env = #{env,jdbcType=VARCHAR},
            </if>
            <if test="serviceName != null">
                `service_name` = #{serviceName,jdbcType=VARCHAR},
            </if>
            <if test="sequenceId != null">
                `sequence_id` = #{sequenceId,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>