<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruijing.registry.admin.data.mapper.RegistryNodeMapper">

    <resultMap id="BaseMap" type="com.ruijing.registry.admin.data.model.RegistryNodeDO">
        <result column="id" property="id"/>
        <result column="registry_id" property="registryId"/>
        <result column="biz" property="biz"/>
        <result column="env" property="env"/>
        <result column="key" property="key"/>
        <result column="value" property="value"/>
        <result column="meta" property="meta"/>
        <result column="status" property="status"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `registry_id`,
        `biz`,
        `env`,
        `key`,
        `value`,
        `meta`,
        `status`,
        `updateTime`
    </sql>

    <update id="refresh" parameterType="com.ruijing.registry.admin.data.model.RegistryNodeDO">
        UPDATE registry_node
        SET
        `updateTime` = now(),
        `status` = 1,
        `meta`=#{meta}
        <where>
            <if test="biz!=null">
                biz=#{biz}
            </if>
            <if test="env!=null">
                AND `env` = #{env}
            </if>
            <if test="id!=null">
                AND id=#{id}
            </if>
            <if test="key!=null">
                AND `key` = #{key}
            </if>
            <if test="value!=null">
                AND `value` = #{value}
            </if>
        </where>
    </update>

    <select id="queryForList" parameterType="com.ruijing.registry.admin.data.query.RegistryNodeQuery"
            resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM registry_node
        <where>
            <if test="biz!=null">
                biz=#{biz}
            </if>
            <if test="env!=null">
                AND `env` = #{env}
            </if>
            <if test="id!=null">
                AND id=#{id}
            </if>
            <if test="key!=null">
                AND `key` = #{key}
            </if>
            <if test="registryId!=null">
                AND `registry_id` = #{registryId}
            </if>
        </where>
        <if test="offset!=null">
            limit #{offset},#{pageSize}
        </if>
    </select>

    <insert id="insertSelective" parameterType="com.ruijing.registry.admin.data.model.RegistryNodeDO" keyProperty="id"
            useGeneratedKeys="true">
        insert into registry_node
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="registryId != null">
                registry_id,
            </if>
            <if test="biz != null">
                biz,
            </if>
            <if test="env != null">
                env,
            </if>
            <if test="key != null">
                `key`,
            </if>
            <if test="value != null">
                `value`,
            </if>
            <if test="meta != null">
                `meta`,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="registryId != null">
                #{registryId,jdbcType=BIGINT},
            </if>
            <if test="biz != null">
                #{biz,jdbcType=VARCHAR},
            </if>
            <if test="env != null">
                #{env,jdbcType=VARCHAR},
            </if>
            <if test="key != null">
                #{key,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="meta != null">
                #{meta,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <insert id="add" parameterType="com.ruijing.registry.admin.data.model.RegistryNodeDO" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO registry_node (`registry_id`,
                                       `biz`,
                                       `env`,
                                       `key`,
                                       `value`,
                                       `meta`,
                                       `status`,
                                       `updateTime`)
        VALUES
        (#{registryId},
         #{biz},
         #{env},
         #{key},
         #{value},
         #{meta},
         #{status},
         now())
    </insert>

    <select id="findByRegistryId" parameterType="long" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM registry_node
        where registry_id = #{registryId}
    </select>

    <select id="findByRegistryIdList" parameterType="list" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM registry_node
        where registry_id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findData" parameterType="java.util.HashMap" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM registry_node
        where biz = #{biz}
        and env = #{env}
        and `key` = #{key}
    </select>

    <select id="getSystemDateTime" resultType="date">
        select NOW()
    </select>

    <delete id="cleanData" parameterType="java.util.HashMap">
        DELETE
        FROM registry_node
        WHERE NOW() <![CDATA[ > ]]> DATE_ADD(updateTime, Interval #{timeout} SECOND)
    </delete>

    <delete id="deleteData" parameterType="java.util.HashMap">
        DELETE
        FROM registry_node
        WHERE `biz` = #{biz}
          and `env` = #{env}
          and `key` = #{key}
    </delete>

    <delete id="deleteDataValue" parameterType="java.util.HashMap">
        DELETE
        FROM registry_node
        WHERE `biz` = #{biz}
          and `env` = #{env}
          and `key` = #{key}
          and `value` = #{value}
    </delete>

    <delete id="removeDataValue" parameterType="java.util.HashMap">
        update registry_node
        set `status` = 0
        WHERE `biz` = #{biz}
          and `env` = #{env}
          and `key` = #{key}
          and `value` = #{value}
    </delete>

    <delete id="delete" parameterType="long">
        DELETE
        FROM registry_node
        WHERE `id` = #{id}
    </delete>

    <delete id="remove" parameterType="long">
        update registry_node
        set status=0
        WHERE `id` = #{id}
    </delete>

    <select id="count" resultType="java.lang.Integer">
        SELECT count(1)
        FROM registry_node
    </select>
</mapper>