<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruijing.registry.admin.data.mapper.RegistryMapper">

    <resultMap id="BaseMap" type="com.ruijing.registry.admin.data.model.RegistryDO">
        <result column="id" property="id"/>
        <result column="biz" property="biz"/>
        <result column="env" property="env"/>
        <result column="key" property="key"/>
        <result column="data" property="data"/>
        <result column="version" property="version"/>
        <result column="status" property="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `biz`,
        `env`,
        `key`,
        `data`,
        `version`,
        `status`
    </sql>

    <select id="queryForList" parameterType="com.ruijing.registry.admin.data.query.RegistryNodeQuery"
            resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM registry_service
        <where>
            <if test="biz!=null">
                biz=#{biz}
            </if>
            <if test="env!=null">
                AND `env` = #{env}
            </if>
            <if test="id!=null">
                AND id=#{id}
            </if>
            <if test="key!=null">
                AND `key` = #{key}
            </if>
        </where>
        <if test="offset!=null">
            limit #{offset},#{pageSize}
        </if>
    </select>

    <select id="pageList" parameterType="java.util.HashMap" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM registry_service
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="biz != null and biz != ''">
                AND biz = #{biz}
            </if>
            <if test="env != null and env != ''">
                AND env = #{env}
            </if>
            <if test="key != null and key != ''">
                AND `key` like CONCAT(CONCAT('%', #{key}), '%')
            </if>
        </trim>
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
        SELECT count(1)
        FROM registry_service
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="biz != null and biz != ''">
                AND biz = #{biz}
            </if>
            <if test="env != null and env != ''">
                AND env = #{env}
            </if>
            <if test="key != null and key != ''">
                AND `key` like CONCAT(CONCAT('%', #{key}), '%')
            </if>
        </trim>
    </select>

    <select id="load" parameterType="java.util.HashMap" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM registry_service
        WHERE `biz` = #{biz}
        and `env` = #{env}
        and `key` = #{key}
    </select>

    <select id="loadById" parameterType="java.util.HashMap" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM registry_service
        WHERE id = #{id}
    </select>

    <insert id="add" parameterType="com.ruijing.registry.admin.data.model.RegistryDO" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO registry_service (`biz`,
                                  `env`,
                                  `key`,
                                  `data`,
                                  `version`,
                                  `status`)
        VALUES
        (#{biz},
         #{env},
         #{key},
         #{data},
         #{version},
         #{status})
    </insert>

    <update id="update" parameterType="com.ruijing.registry.admin.data.model.RegistryDO">
        UPDATE registry_service
        SET
            `data`    = #{data},
            `version` = #{version},
            `status`  = #{status}
        WHERE `id` = #{id}
    </update>

    <delete id="delete" parameterType="long">
        delete
        from registry_service
        WHERE `id` = #{id}
    </delete>
</mapper>